<header class="menu-bar">
  <div class="container">
    <h1 class="title">Chess Fork</h1>

    <div class="header-links">
      <a href="https://github.com/linrock/chess-fork">source code</a>
    </div>
  </div>
</header>

<nav class="sub-header">
  <div class="container">
    <div class="sub-header-title">
      Open-source chess game analysis
    </div>

    <div class="header-actions">
      <a href="javascript:" class="reset-board"
         data-tooltip="Reset board"><%= fa_icon "file-o" %></a>

      <a href="javascript:" class="undo"
         data-tooltip="Undo"><%= fa_icon "undo" %></a>
    </div>
  </div>
</nav>

<div class="analysis-board">
  <div class="main-board">
    <%= render partial: "analysis/chessboard", locals: { square_prefix: "sq" } %>
  </div>

  <div class="moves-and-importer">
    <div class="vue-move-list"></div>
    <div class="vue-modal-move-list"></div>
    <div class="vue-pgn-importer"></div>
  </div>

  <div class="vue-actions"></div>

  <div class="bottom-area">
    <div class="intro-message invisible">
      Move a piece on the board <em>or</em> import a game to get started
    </div>

    <div class="vue-position-info"></div>

    <div class="analysis-info"></div>

    <div class="mini-hover-board">
      <div class="hover-board invisible">
        <%= render partial: "analysis/chessboard",
                   locals: { square_prefix: "msq" } %>
      </div>
    </div>

    <div class="evaluation-graph"></div>
  </div>
</div>
