button {
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

}

.analysis-board {
  overflow: hidden;
  margin: 100px auto;
  width: 480px + 6px + 200px;
}

.chessboard {
  float: left;
  border: 3px solid #938172;
  width: 480px + 6px;
  height: 480px + 6px;

  .square {
    width: 60px;
    height: 60px;
    float: left;

    &.light {
      background: #f3e4cf;
    }

    &.dark {
      background: #ceb3a2;
    }

    .piece {
      width: 100%;
      height: 100%;
    }

  }

}

.moves-and-importer {
  float: left;
  margin-left: 20px;
  width: 180px;
  height: 445px;
  position: relative;
}

.move-list {
  border: 1px solid #eee;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 12px 0;

  .move-num {
    float: left;
    width: 40px;
    padding: 6px 0 6px 15px;
  }

  .move {
    float: left;
    width: 55px;
    padding: 6px 0 6px 12px;

    &:hover {
      cursor: pointer;
    }

    &.current {
      background: yellow;
    }

  }

}

.pgn-importer {
  border: 1px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  textarea {
    width: 100%;
    height: 100%;
    border: 0;
    resize: none;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 20px;
  }

  .load-pgn {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: rgba(3, 107, 197, 0.68);
    color: white;

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      opacity: 0.8;
    }

  }

}

.actions {
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  overflow: hidden;
  float: left;

  .action {
    color: #ccc;
    font-size: 14px;
    float: left;
    padding: 7px 11px 7px;
    background: #eee;
    border-radius: 2px;
  }

  .flip-board {
    width: 40px;
    margin-right: 5px;
    padding: 7px 11px;
  }

}

.bottom-area {
  float: left;
}

.suggested-moves {
  transition: opacity 0.2s ease;

  &.invisible {
    opacity: 0;
  }

  .titles {
    font-size: 14px;
    margin: 24px 0 12px;
    overflow: hidden;

    > div {
      float: left;
    }

    .move-title {
      width: 100px;
    }

    .evaluation-title {
      width: 150px;
    }

    .evaluation-source {

    }

  }

  .moves {
    overflow: hidden;
    font-weight: 600;

    .move {
      float: left;
      width: 100px;
    }

    .evaluation {
      float: left;
      width: 150px;
    }

    .source {
      float: left;
      font-size: 12px;
      margin-top: 2px;
    }

  }

}
