@import "bourbon";


@mixin simple-scrollbar {

  &::-webkit-scrollbar {
    width: 10px;  /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
  }

  &::-webkit-scrollbar-thumb:horizontal:hover,
  &::-webkit-scrollbar-thumb:vertical:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}


.container {
  width: 710px;
  margin: 0 auto;
}


// Tooltips for the subheader
//
.tooltip {
  $tooltip-bg-color: #333;

  -webkit-backface-visibility: hidden;
  transition: opacity 0.12s ease-in-out;
  user-select: none;

  position: absolute;
  left: 50%;
  z-index: 10;
  // margin-left: dynamically set

  &.invisible {
    opacity: 0;
    pointer-events: none;
  }

  .content {
    position: relative;
    top: -3px;
    color: white;
    background: $tooltip-bg-color;
    opacity: 0.9;
    font-size: 11px;
    border-radius: 3px;
    white-space: nowrap;
    height: 22px;
    line-height: 22px;
    padding: 0 8px;

    &:before {
      left: 50%;
      top: -13px;
      margin-left: -7px;
      position: absolute;
      display: block;
      content: "";
      width: 0px;
      height: 10px;
      border-top: 8px solid transparent;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $tooltip-bg-color;
    }
  }

  &.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }
}


// Chess Fork - menu bar at the top of the page
//
.menu-bar {
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  background: #333;
  @include clearfix;

  .title {
    font-size: 20px;
    float: left;
  }

  .menu-actions {
    float: left;
    margin-left: 45px;

    a {
      color: inherit;
      display: inline-block;
      font-size: 14px;
      opacity: 0.75;
      text-decoration: none;

      &:hover {
        opacity: 0.9;
        text-decoration: underline;
      }
    }
  }
}


// Header right under the main header
//
.sub-header {
  font-size: 13px;
  color: #9C9C9C;
  background: #F7F7F7;
  border-bottom: 1px solid #EFEFEF;
  height: 40px;
  line-height: 42px;
  @include clearfix;

  .sub-header-title {
    float: left;
  }

  .header-actions {
    float: right;
    margin-right: -8px;

    a {
      display: block;
      height: 100%;
      font-size: 16px;
      float: right;
      margin-left: 4px;
      padding: 0 9px;
      text-decoration: none;
      color: inherit;
      transition: color 0.12s ease;

      &:hover {
        color: #333;
      }
    }
  }
}


// Main analysis board area
//
.analysis-board {
  margin: 30px auto 25px;
  width: 480px + 6px + 200px + 14px + 10px;
  @include clearfix;
}

.main-board {
  float: left;
  border: 3px solid #938172;
  width: 480px + 6px;
  height: 480px + 6px;

  .square {
    width: 60px;
    height: 60px;
    float: left;
    transition: background 0.1s ease-in-out;
    user-select: none;

    &.light {
      background: #f3e4cf;
    }

    &.dark {
      background: #ceb3a2;
    }

    .piece {
      width: 100%;
      height: 100%;
      position: relative;
      transition: transform 0.12s ease-in-out, opacity 0.3s ease-in-out;

      &.invisible {
        opacity: 0;
      }
    }
  }

  .piece-buffer {
    display: none;
  }
}

.moves-and-importer {
  float: left;
  margin-left: 20px;
  width: 204px;
  height: 445px;
  position: relative;
}

.vue-move-list {
  border: 1px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  overflow-y: scroll;
  @include simple-scrollbar;
}

.pgn-importer {
  border: 1px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  textarea {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    border: 0;
    resize: none;
    padding: 12px 16px;
    font-size: 13px;
    line-height: 22px;
  }

  // TODO better positioning of load pgn button
  //
  .load-pgn {
    font-size: 13px;
    position: absolute;
    bottom: -42px;
    right: 0;
    width: 152px;
    height: 32px;
    background: #4A90E2;
    border-radius: 2px;
    color: white;
    transition: opacity 0.2s ease;

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      opacity: 0.85;
    }
  }

  .invalid-pgn {
    position: absolute;
    color: #FF6900;
    bottom: -92px;
    right: 0;
    font-size: 13px;
    transition: opacity 0.15s ease;

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.actions {
  margin-top: 9px;
  margin-left: 20px;
  width: 204px;
  float: left;
  @include clearfix;

  .action {
    color: #cbcbcb;
    font-size: 14px;
    float: left;
    padding: 7px 13px;
    background: #eee;
    text-align: center;

    &:hover {
      background: #e5e5e5;
    }

  }

  .flip-board {
    width: 41px;
    font-size: 15px;
    margin-right: 9px;
    padding: 7px 0;
    border-radius: 2px;
  }

  .move-actions {
    float: left;
    border-radius: 2px;
    overflow: hidden;
    transition: opacity 0.2s ease;

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.bottom-area {
  float: left;
  position: relative;
  clear: left;
  width: 100%;
  margin-top: 15px;
}

// Move a piece on the board -or- import a game
//
.intro-message {
  position: absolute;
  top: 25px;
  left: 17px;
  z-index: 1;
  color: rgba(0,0,0,0.6);
  font-size: 16px;
  transition: opacity 0.55s ease-in-out 0.45s;

  em {
    font-style: italic;
    position: relative;
    left: -1px;
    margin: 0 3px;
  }

  &.invisible {
    opacity: 0;
  }
}

.mini-hover-board {
  position: absolute;
  width: 211px;
  right: 0;
  top: 212px;
  height: 0;

  .hover-board {
    width: 211px;
    height: 211px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    background: white;
    box-shadow: 0 0 10px rgba(100,100,100,0.2);
    position: absolute;
    left: 3px;
    top: -211px;
    z-index: 3;
    transition: all 0.2s ease;

    &.invisible {
      opacity: 0;
      transform: translate3d(0,2px,0);
      pointer-events: none;
    }
  }

  .chessboard {
    $square-size: 23px;

    width: 8 * $square-size + 2px;
    height: 8 * $square-size + 2px;
    margin: 12px;
    background: #ddd;
    border: 1px solid #938172;

    .square {
      width: $square-size;
      height: $square-size;
      float: left;
      transition: background 0.1s ease-in-out;
      user-select: none;

      &.light {
        background: rgb(243, 228, 207);
      }

      &.dark {
        background: rgb(206, 179, 162);
      }

      .piece {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.12s ease-in-out;
      }
    }

    .piece-buffer {
      display: none;
    }
  }
}

.evaluation-graph {
  float: left;
  width: 460px;
  height: 120px;
  position: relative;
  margin-top: 23px;
  margin-left: 13px;

  &.invisible {
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }

  .bar {
    display: none;
    width: 1px;
    height: 100%;
    background: #333;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    &.hover {
      background: #ddd;
      z-index: -1;
    }

    &.static {
      background: orange;
      z-index: 1;
      transition: left 0.1s ease-in-out;
    }
  }
}
