@mixin clearfix {

  &:before, &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }

}

@mixin user-select($type) {
  -moz-user-select: $type;
  -webkit-user-select: $type;
  -ms-user-select: $type;
}


.container {
  width: 700px;
  margin: 0 auto;
}


// Chess Fork - menu bar at the top of the page
//
.menu-bar {
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  background: #333;
  @include clearfix;

  .title {
    font-size: 20px;
    float: left;
  }

  .menu-actions {
    float: left;
    margin-left: 45px;

    a {
      color: inherit;
      display: inline-block;
      font-size: 14px;
      opacity: 0.75;
      text-decoration: none;

      &:hover {
        opacity: 0.9;
        text-decoration: underline;
      }

    }

  }

}


// Header right under the main header
//
.sub-header {
  font-size: 13px;
  color: #9C9C9C;
  background: #F7F7F7;
  border-bottom: 1px solid #EFEFEF;
  height: 45px;
  line-height: 46px;
}


// Main analysis board area
//
.analysis-board {
  margin: 55px auto;
  width: 480px + 6px + 200px + 14px;
  @include clearfix;
}

.chessboard {
  float: left;
  border: 3px solid #938172;
  width: 480px + 6px;
  height: 480px + 6px;

  .square {
    width: 60px;
    height: 60px;
    float: left;
    transition: background 0.1s ease-in-out;
    @include user-select(none);

    &.light {
      background: #f3e4cf;
    }

    &.dark {
      background: #ceb3a2;
    }

    .piece {
      width: 100%;
      height: 100%;
      position: relative;
      transition: transform 0.12s ease-in-out;
    }

  }

}

.moves-and-importer {
  float: left;
  margin-left: 20px;
  width: 194px;
  height: 445px;
  position: relative;
}

.move-list {
  border: 1px solid #eee;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  overflow-y: scroll;

  .move-num {
    float: left;
    width: 40px;
    padding: 7px 0 7px 15px;
  }

  .move {
    float: left;
    width: 65px;
    padding: 7px 0 7px 12px;

    &:hover {
      cursor: pointer;
    }

    &.current {
      background: yellow;
    }

  }

}

.pgn-importer {
  border: 1px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  textarea {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    border: 0;
    resize: none;
    padding: 12px 16px;
    font-size: 13px;
    line-height: 22px;
  }

  .load-pgn {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: rgba(3, 107, 197, 0.68);
    color: white;

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      opacity: 0.8;
    }

  }

}

.actions {
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  overflow: hidden;
  float: left;

  .action {
    color: #ccc;
    font-size: 14px;
    float: left;
    padding: 7px 12px;
    background: #eee;
    border-radius: 2px;

    &:hover {
      background: #e5e5e5;
    }

  }

  .flip-board {
    width: 40px;
    font-size: 15px;
    margin-right: 11px;
    padding: 7px 11px;
  }

}

.bottom-area {
  float: left;
}

.suggested-moves {
  transition: opacity 0.2s ease;

  &.invisible {
    opacity: 0;
  }

  .titles {
    font-size: 13px;
    margin: 24px 0 12px;
    @include clearfix;

    > div {
      float: left;
    }

    .move-title {
      width: 100px;
    }

    .evaluation-title {
      width: 150px;
    }

    .evaluation-source {

    }

  }

  .moves {
    font-weight: 600;
    @include clearfix;

    .move {
      float: left;
      width: 100px;
    }

    .evaluation {
      float: left;
      width: 150px;
    }

    .source {
      float: left;
      font-size: 12px;
      margin-top: 2px;
    }

  }

}
