@import "bourbon";


@mixin simple-scrollbar {

  &::-webkit-scrollbar {
    width: 10px;  /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
  }

  &::-webkit-scrollbar-thumb:horizontal:hover,
  &::-webkit-scrollbar-thumb:vertical:hover {
    background: rgba(0, 0, 0, 0.25);
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

}


.container {
  width: 700px;
  margin: 0 auto;
}


// Chess Fork - menu bar at the top of the page
//
.menu-bar {
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  background: #333;
  @include clearfix;

  .title {
    font-size: 20px;
    float: left;
  }

  .menu-actions {
    float: left;
    margin-left: 45px;

    a {
      color: inherit;
      display: inline-block;
      font-size: 14px;
      opacity: 0.75;
      text-decoration: none;

      &:hover {
        opacity: 0.9;
        text-decoration: underline;
      }

    }

  }

}


// Header right under the main header
//
.sub-header {
  font-size: 13px;
  color: #9C9C9C;
  background: #F7F7F7;
  border-bottom: 1px solid #EFEFEF;
  height: 45px;
  line-height: 46px;
}


// Main analysis board area
//
.analysis-board {
  margin: 55px auto 25px;
  width: 480px + 6px + 200px + 14px + 10px;
  @include clearfix;
}

.main-board {
  float: left;
  border: 3px solid #938172;
  width: 480px + 6px;
  height: 480px + 6px;

  .square {
    width: 60px;
    height: 60px;
    float: left;
    transition: background 0.1s ease-in-out;
    @include user-select(none);

    &.light {
      background: #f3e4cf;
    }

    &.dark {
      background: #ceb3a2;
    }

    .piece {
      width: 100%;
      height: 100%;
      position: relative;
      transition: transform 0.12s ease-in-out;
    }

  }

  .piece-buffer {
    display: none;
  }

}

.moves-and-importer {
  float: left;
  margin-left: 20px;
  width: 204px;
  height: 445px;
  position: relative;
}

.game-move-list {
  border: 1px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  overflow-y: scroll;
  @include simple-scrollbar;
}

.move-list {
  font-size: 14px;
  width: 100%;
  height: 100%;

  .move-num {
    float: left;
    width: 45px;
    padding: 7px 0 7px 15px;
  }

  .move {
    float: left;
    width: 70px;
    padding: 7px 0 7px 12px;
    transition: background 0.12s ease;

    &:hover {
      cursor: pointer;
    }

    &.current {
      background: yellow;
    }

  }

}

// TODO wip for a place to show the analysis moves
//
.modal-move-list {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.25s ease-in-out;

  &.invisible {
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: translate3d(0,-7px,0);
    }

  }

  .modal-bg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    &:hover {
      cursor: pointer;
    }

  }

  .modal {
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 1;
    width: 174px;
    height: auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    transition: transform 0.25s ease-in-out;
  }

  .modal-header {
    width: 174px;
    height: 34px;
    background: white;
    border-bottom: 1px solid #eee;
    @include clearfix;

    .engine-name {
      color: rgba(28,28,28,0.55);
      float: left;
      font-size: 11px;
      line-height: 34px;
      margin-left: 15px;
    }

    .close-modal {
      color: rgba(28,28,28,0.55);
      float: right;
      font-size: 14px;
      margin-top: 8px;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }

    }

  }

  .move-list {
    height: auto;
    padding: 10px 0;
    background: white;
    @include clearfix;

    .move {
      width: 60px;

      &.current {
        background: #CFF;
      }

    }

  }

}

.pgn-importer {
  border: 1px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  textarea {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    border: 0;
    resize: none;
    padding: 12px 16px;
    font-size: 13px;
    line-height: 22px;
  }

  // TODO better positioning of load pgn button
  //
  .load-pgn {
    font-size: 13px;
    position: absolute;
    bottom: -42px;
    right: 0;
    width: 148px;
    height: 31px;
    background: #4A90E2;
    border-radius: 2px;
    color: white;
    transition: opacity 0.2s ease;

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      opacity: 0.85;
    }

  }

  .invalid-pgn {
    position: absolute;
    color: #FF6900;
    bottom: -92px;
    right: 0;
    font-size: 13px;
    transition: opacity 0.15s ease;

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

  }

}

.actions {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
  @include clearfix;

  .action {
    color: #cbcbcb;
    font-size: 14px;
    float: left;
    padding: 7px 13px;
    background: #eee;
    text-align: center;

    &:hover {
      background: #e5e5e5;
    }

  }

  .flip-board {
    width: 42px;
    font-size: 15px;
    margin-right: 11px;
    padding: 7px 0;
    border-radius: 2px;
  }

  .move-actions {
    float: left;
    border-radius: 2px;
    overflow: hidden;
    transition: opacity 0.2s ease;

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

  }

}

.bottom-area {
  float: left;
  position: relative;
  clear: left;
  width: 100%;
  margin-top: 15px;
}

.intro-message {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 1;
  color: rgba(0,0,0,0.6);
}

.suggested-moves {
  transition: opacity 0.2s ease;
  position: absolute;
  top: 0;
  left: 0;

  &.invisible {
    opacity: 0;
  }

  .titles {
    font-size: 13px;
    margin: 24px 0 12px;
    @include clearfix;

    > div {
      float: left;
    }

    .move-title {
      width: 115px;
    }

    .evaluation-title {
      width: 150px;
    }

    .evaluation-source {

    }

  }

  .moves {
    font-weight: 600;
    @include clearfix;

    .move {
      float: left;
      width: 115px;

      &:hover {
        cursor: pointer;
      }

    }

    .engine-move {
      transition: color 0.15s ease;

      &:hover {
        color: #0bf;
      }

    }

    .evaluation {
      float: left;
      width: 150px;
    }

    .source {
      float: left;
      font-size: 12px;
      margin-top: 2px;
    }

  }

}

.mini-hover-board {
  position: relative;
  float: right;
  width: 211px;
  height: 0;

  .hover-board {
    width: 211px;
    height: 211px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    background: white;
    box-shadow: 0 0 10px rgba(100,100,100,0.2);
    position: absolute;
    left: 3px;
    top: -216px;
    z-index: 3;
    transition: all 0.2s ease;

    &.invisible {
      opacity: 0;
      transform: translate3d(0,2px,0);
      pointer-events: none;
    }

  }

  .chessboard {
    $square-size: 23px;

    width: 8 * $square-size + 2px;
    height: 8 * $square-size + 2px;
    margin: 12px;
    background: #ddd;
    border: 1px solid #938172;

    .square {
      width: $square-size;
      height: $square-size;
      float: left;
      transition: background 0.1s ease-in-out;
      @include user-select(none);

      &.light {
        background: #f3e4cf;
      }

      &.dark {
        background: #ceb3a2;
      }

      .piece {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.12s ease-in-out;
      }

    }

    .piece-buffer {
      display: none;
    }

  }

}

.evaluation-graph {
  float: right;
  width: 204px;
  height: 100px;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .bar {
    display: none;
    width: 1px;
    height: 100%;
    background: #333;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    &.hover {
      background: #ddd;
      z-index: -1;
    }

    &.static {
      background: orange;
      z-index: 1;
      transition: left 0.1s ease-in-out;
    }

  }

}
