/*
 *= require reset
 *= require_self
 *= require analysis
 *= require_tree .
 *= require font-awesome
*/


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  // font-family: "Helvetica Neue", Helvetica, sans-serif;
  // font-family: "Source Sans Pro", Helvetica, sans-serif;
  // font-family: "Droid Sans", Helvetica, sans-serif;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #222;
}

b {
  font-weight: bold;
}

button {
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

}
